.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    "Header Header Header"
    "Nav Main Aside"
    "Footer Footer Footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  grid-area: Header;
}

.Nav {
  grid-area: Nav;
}

.Main {
  grid-area: Main;
}

.Aside {
  grid-area: Aside;
}

.Footer {
  grid-area: Footer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
